/* GENERAL STYLING */
/* Body */
body {
    margin: 0;
}
/* Header */
.header {
    background-color: #1f2937;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
.nav {
    font-size: 18px;
    color: #e5e7eb;
}
/* Hero */
.hero {
    background-color: #1f2937;
}
.hero-content > h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.hero-content > p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-button {
    padding: 8px 2em;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
}
/* Content */
.content-div h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
/* Quote */
.quote {
    background-color: #e5e7eb;
}
.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}
.signature {
    font-style: none;
    font-weight: bold;
    font-size: 18px;
}
/* Link & Text Styling */
a {
    text-decoration: none;
    color: #e5e7eb;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
}
/* Call to Action */
.cta-container {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 12px;
}
/* Footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
}


/* PLACEHOLDERS (Hero & Content Cards) */
/* Placeholder Image */
.placeholder {
    display: flex;
    min-width: 300px;
    min-height: 150px;
    max-width: 50%;
    background-color: #696969;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex: 2 1;
}
/* Sizing cards -- may be temporary */
.card-image {
    height: 125px;
    min-width: 125px;
    border: 2px #0000ff solid;
    border-radius: 16px;
}


/* FLEXBOX */
/* Body */
body {
    display: flex;
    flex-direction: column;
}
/* Header */
.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}
.header {
    padding: 32px 16px;
}
.nav {
    display: flex;
    gap: 16px;
}
/* Hero */
.hero-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    min-height: 60vh;
    gap: 3em;
    padding: 32px 16px;
}
.hero-content {
    flex: 1;
}
.hero-content h1, .hero-content p {
    margin-bottom: 16px;
}
/* Content */
.content {
    justify-content: center;
    align-items: center;
}
.content-div {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}
.content-div h2 {
    margin-bottom: 1em;
}
/* Quote */
.quote {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-div {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.signature {
    align-self: flex-end;
    padding-right: 2em;
}
/* Call to Action */
.cta {
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
}
.cta-container {
    max-width: 1080px;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex: 1;
}
.cta-div {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    flex: 1;
    padding: 2em 2em;
}
.cta-button {
    background-color:#3882f6;
    border: 2px #f9faf8 solid;
    border-radius: 8px;
    color: #f9faf8;
    padding: 8px 16px;
    flex-grow: 0;
}
/* Footer */
 .footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
 }

.quote-div, .cta-container, .footer-div {
    margin: 0 1em;
 }