
/* Set max-width for containers inside sections */
.header-div, .hero-div, .content-div, 
.quote-div, .cta-div, .footer-div {
    max-width: 1280px;
}

/* Placeholder Image */
.placeholder {
    display: flex;
    max-width: 300px;
    min-width: 300px;
    max-height: 150px;
    min-height: 150px;
    background-color: #696969;
    color: #fff;
    justify-content: center;
    align-items: center;
}

/* Sizing cards -- may be temporary */
.card-image {
    height: 100px;
    width: 100px;
    border: 2px #0000ff solid;
    border-radius: 16px;
}